extends ../layout

block content
  .d-flex.justify-content-between.align-items-center.mb-4
    h1 
      i.bi.bi-archive.me-2
      | SIPs Processados
    a.btn.btn-success(href='/sip/upload') 
      i.bi.bi-upload.me-1
      | Novo Upload

  if items && items.length > 0
    .table-responsive
      table.table.table-striped
        thead
          tr
            th Título
            th Tipo
            th Ficheiros
            th Data Submissão
            th Visibilidade
            th Ações
        tbody
          each item in items
            tr
              td= item.title
              td
                span.badge.bg-info= item.type
              td
                span.badge.bg-secondary= item.files ? item.files.length : 0
                |  ficheiros
              td= new Date(item.submittedAt).toLocaleDateString('pt-PT')
              td
                if item.isPublic
                  span.badge.bg-success Público
                else
                  span.badge.bg-warning Privado
              td
                .btn-group.btn-group-sm
                  a.btn.btn-outline-primary(href=`/items/${item._id}`) Ver
                  a.btn.btn-outline-success(href=`/sip/export/${item._id}`) Exportar DIP
                  a.btn.btn-outline-secondary(href=`/items/edit/${item._id}`) Editar

    .mt-4
      .alert.alert-info
        h5 
          i.bi.bi-info-circle.me-2
          | Sobre SIPs Processados
        p Estes são os pacotes SIP (Submission Information Package) que foram carregados e processados com sucesso.
        ul
          li Cada SIP foi validado e os seus ficheiros extraídos
          li Os metadados foram armazenados na base de dados
          li Os ficheiros estão disponíveis para visualização e download
          li Pode exportar qualquer item como DIP (Dissemination Information Package)

  else
    .alert.alert-info.text-center
      h4 Nenhum SIP processado
      p Ainda não foram carregados pacotes SIP no sistema.
      a.btn.btn-success(href='/sip/upload') Fazer Primeiro Upload

  .mt-4
    .card
      .card-header
        h5.mb-0 Estatísticas de SIPs
      .card-body
        .row.text-center
          .col-md-3
            h3.text-primary= items ? items.length : 0
            p.mb-0 Total Processados
          .col-md-3
            h3.text-success= items ? items.filter(i => i.isPublic).length : 0
            p.mb-0 Públicos
          .col-md-3
            h3.text-warning= items ? items.filter(i => !i.isPublic).length : 0
            p.mb-0 Privados
          .col-md-3
            h3.text-info= items ? items.reduce((total, item) => total + (item.files ? item.files.length : 0), 0) : 0
            p.mb-0 Total Ficheiros